*{
  margin:0 ;
  padding: 0;
  box-sizing: border-box;
}
/* prima barra di navigazione */

nav{
  height: 50px;
  background-color: #f5f8fa;
}
.box{
  height: 100%;
  background-color: #f5f8fa;
  width: 1200px;
  margin:auto;
}
.col{
  height: 100%;
  width: 25%;

}
.col.left{
  float: left;
}
.col.rigth{
  float: right;
}
.col.rigth.link ul li{
display: inline-block;
list-style: none;
}
/* fine prima barra di navigazione */
/* inizio della seconda */
header{
  height: 50px;

}
/* fine della seconda */
/* inizio box consfondo */
.box-img{
  height: 600px;
  background-color:#fdf2ee;
  position: relative;
}
.sfondo{
  height: 100%;
  width: 80%;
  margin: auto;
  background-image: url(../img/jumbotron.png);
  background-position: right center;
  background-size: cover;
  right:-10px;
  position: absolute;
}

.text{
  width: 23%;
  background-color: #fdf2ee;
  margin-left: 19%;
  position:absolute;

}
.xxx{
  height: 80px;
  width: 100%;background-color: #93dbd2;
  border-top: 2px solid black;
  border-bottom: 2px solid black;

}
